<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div><strong>添加图书</strong></div>
    <form action="/book/add" method="post">
        <div>
            书名：<input type="text" name="bkname"><br> 作者：
            <input type="text" name="author"><br> 价格：
            <input type="text" name="price"><br><br>
            <input type="submit" value="添加">&nbsp;
            <input onclick="location.href='/book/list';" type="button" value="返回">
        </div>
    </form>
</body>

</html>