<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

</head>

<frameset border="1" rows="20%,*">
    <frame noresize="noresize" src="/top">
        <frameset cols="15%,* ">
            <frame noresize="noresize " src="/left">
                <frame noresize="noresize " src="/right" name="right">
        </frameset>
</frameset>

<body>

</body>

</html>